In [34]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [35]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaitape,PF,2022-04-20 18:01:26,-16.5167,-151.7500,80.17,71,3,5.23
1,1,Thompson,CA,2022-04-20 18:00:09,55.7435,-97.8558,31.44,85,100,9.62
2,2,Nanortalik,GL,2022-04-20 18:01:26,60.1432,-45.2371,31.19,58,47,12.46
3,3,Pulwama,IN,2022-04-20 18:01:27,33.8740,74.8996,52.72,86,67,0.74
4,4,Touros,BR,2022-04-20 18:01:27,-5.1989,-35.4608,85.23,65,92,14.07

In [36]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [37]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [38]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [39]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaitape,PF,2022-04-20 18:01:26,-16.5167,-151.7500,80.17,71,3,5.23
4,4,Touros,BR,2022-04-20 18:01:27,-5.1989,-35.4608,85.23,65,92,14.07
10,10,San Juan,AR,2022-04-20 18:01:29,-31.5375,-68.5364,75.94,36,0,20.20
12,12,Faanui,PF,2022-04-20 18:01:30,-16.4833,-151.7500,80.19,71,4,5.14
13,13,Butaritari,KI,2022-04-20 18:00:34,3.0707,172.7902,80.73,81,73,14.61
15,15,Rikitea,PF,2022-04-20 18:01:31,-23.1203,-134.9692,78.53,70,14,16.11
16,16,Vaini,TO,2022-04-20 18:00:34,-21.2000,-175.2000,81.01,72,100,10.09
29,29,Puerto Ayora,EC,2022-04-20 18:01:35,-0.7393,-90.3518,76.73,82,73,8.39
33,33,Salalah,OM,2022-04-20 18:01:37,17.0151,54.0924,79.66,75,30,5.39
35,35,Bengkulu,ID,2022-04-20 18:01:38,-3.8004,102.2655,75.70,92,100,8.14

In [45]:
preferred_cities_df.count()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Vaitape      PF     80.17 -16.5167 -151.7500
4         Touros      BR     85.23  -5.1989  -35.4608
10      San Juan      AR     75.94 -31.5375  -68.5364
12        Faanui      PF     80.19 -16.4833 -151.7500
13    Butaritari      KI     80.73   3.0707  172.7902
15       Rikitea      PF     78.53 -23.1203 -134.9692
16         Vaini      TO     81.01 -21.2000 -175.2000
29  Puerto Ayora      EC     76.73  -0.7393  -90.3518
33       Salalah      OM     79.66  17.0151   54.0924
35      Bengkulu      ID     75.70  -3.8004  102.2655

In [56]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaitape,PF,80.17,-16.5167,-151.7500,Conrad Bora Bora Nui
4,Touros,BR,85.23,-5.1989,-35.4608,INN NEW HORIZON
10,San Juan,AR,75.94,-31.5375,-68.5364,Hotel Provincial
12,Faanui,PF,80.19,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
13,Butaritari,KI,80.73,3.0707,172.7902,Isles Sunset Lodge

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]